doctype html
html(lang='ru')
html
    head
        script(src="/public/js/login.js")
        link(rel="stylesheet", href="/public/css/style.css")

    body(onload="read()")
        .wrapper
            .header
                div(class="header__title title") 
                    span.header__1 T
                    span.header__2 e
                    span.header__3 t
                    span.header__4 r
                    span.header__5 i
                    span.header__6 s
            .container
                .input-name
                    .input-name__row
                    form(class="input-name__input")
                        label Введите имя:
                            br
                            input(class="input-name__form" id="username" placeholder="Имя пользователя")
                            input(class = "input-name__btn btn" type = "Submit" value = "Начать игру" onclick='store(); return nextPage()')